* {
    margin: 0 ;
    padding: 8px;
   
        
    
}

body{
   font-family:"Poppins"sans-serif ;
 
       
        
}

.container-titulo{
   color: white;
   display: flex;
   justify-content: center;
   padding: 30px;
   background-color: hsla(0, 90%, 49%, 0.973);
   
   
    
}




.container-receita #receita ul  {
  
   padding: 20px 17px;
   list-style-type: none;
 }

 .container-receita #modo-de-preparo ol{
   padding: 20px 17px;
   position: right;
   list-style-type: none;
 }

 .container img{
   width: 250px;
   height: 250px;
   border-radius: 10px;
   object-fit: cover;
   border: 2px solid hsla(0, 90%, 49%, 0.973)
    
  
 }

 img{
   position: absolute;
   right: 200px;
   margin-top: 55px;
   
        
 }
 figcaption{

   position: absolute;
   right: 230px;
   margin-top: 320px;

   
 
 }
   
 footer{
   background-color: hsla(0, 29%, 54%, 0.973);
   padding: 1px ;
   padding-bottom: 10px;
   
 }
 
 footer h3 {
   display: flex;
   justify-content: center;
   
 
 }

 footer p {
   display: flex;
   justify-content: center;
   
   
  
  
 }
 


